<br>s
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Lista de Clientes</h4>
            <div>
              <button class="btn btn-danger mr-2" (click)="agregarCliente()">Agregar Nuevo Usuario</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 25%;">Nombre</th>
                  <th style="width: 25%;">Apellido</th>
                  <th style="width: 25%;">ID</th>
                  <th style="width: 25%;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientes">
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.apellido }}</td>
                  <td>{{ cliente.nit }}</td>
                  <td>
                    <div class="btn-group">
                      <div class="row">
                        <div class="col-md-6 col-lg-5">
                          <button type="button" class="btn btn-success" (click)="editarCliente(cliente)">Editar</button>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-2 mt-md-0">
                          <button type="button" class="btn btn-secondary" (click)="eliminarCliente(cliente)">Eliminar</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
