form{
    width: 75%;
    margin: 0 auto;
}
.footer{
    position: relative;
    bottom: 15px;
    &__right{
        position: absolute;
        right: 0;
    }
    &__left{
        position: absolute;
        left: 0;
    }
}