<br>
<div class="container">
    <mat-horizontal-stepper [linear]="true">
      <!-- Primer paso - Características -->
      <mat-step [stepControl]="createProductoCaracteristicas">
        <ng-template matStepLabel>Características</ng-template>
        <div class="error-box bg-danger text-white text-center">
          <span *ngIf="submitted && createProductoCaracteristicas.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
        </div>
        <form [formGroup]="createProductoCaracteristicas" class="form">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Código</mat-label>
              <input [readonly]="id" matInput formControlName="codigo" placeholder="Ingresa el código" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" placeholder="Ingresa el nombre" required>
            </mat-form-field>
          </div>
          
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Referencia Fábrica</mat-label>
              <input matInput formControlName="referenciaFabrica" placeholder="Ingresa la descripción" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Tipo</mat-label>
              <input matInput formControlName="tipo" placeholder="Ingresa el tipo" required>
            </mat-form-field>
          </div>
        </form>
        <div class="footer">
          <div class="footer__right">
            <button mat-button matStepperNext [disabled]="createProductoCaracteristicas.invalid">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </mat-step>
  
      <!-- Segundo paso - Costos -->
      <mat-step [stepControl]="datosInventario">
        <ng-template matStepLabel>Datos del inventario</ng-template>
        <form [formGroup]="datosInventario">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Grupo del inventario</mat-label>
              <input matInput formControlName="grupoInventario" placeholder="Ingresa el grupo del inventario" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Estado</mat-label>
              <input matInput formControlName="estado" placeholder="Ingresa el estado" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Impuesto a cargo</mat-label>
              <input matInput formControlName="impuestoCargo" placeholder="Ingresa el impuesto a cargo" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Inventariable</mat-label>
              <input matInput formControlName="inventariable" placeholder="Ingresa el inventariable" required>
            </mat-form-field>
          </div>
        </form>
        <div class="footer">
          <div class="footer__left">
            <button mat-button matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="footer__right">
            <button mat-button matStepperNext [disabled]="datosInventario.invalid">
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <!-- <button mat-button (click)="addEditarProducto()" [disabled]="datosInventario.invalid">
              <mat-icon>check_circle</mat-icon>
            </button> -->
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="datosAdicionales">
        <ng-template matStepLabel>Datos del inventario</ng-template>
        <form [formGroup]="datosAdicionales">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Es incluido</mat-label>
              <input matInput formControlName="esIncluido" placeholder="Ingresa si es incluido" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Saldo cantidades</mat-label>
              <input matInput formControlName="saldoCantidades" placeholder="Ingresa el saldo cantidades" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>precioVenta1</mat-label>
              <input matInput formControlName="precioVenta1" placeholder="Ingresa el precio de venta" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Precio de compra</mat-label>
              <input matInput formControlName="precioDeCompra" placeholder="Ingresa el precio de compra" required>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Descripción larga</mat-label>
              <input matInput formControlName="descripcionLarga" placeholder="Ingresa la descripcion larga" required>
            </mat-form-field>
          </div>
        </form>
        <div class="footer">
          <div class="footer__left">
            <button mat-button matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="footer__right">
            <button mat-button (click)="addEditarProducto()" [disabled]="datosInventario.invalid">
              <mat-icon>check_circle</mat-icon>
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  