<div class="asientos">
    <table>
        <ng-container *ngFor="let i of is; let fila = index">
            <tr>
                <ng-container *ngFor="let j of js; let columna = index">
                    <td>
                        <div *ngIf="matriz[fila][columna]">
                            <app-asiento-palco [zonaSeleccionada]="zonaSeleccionada" (seleccionarAsiento)="agregarLista($event)" [information]="matriz[fila][columna]"></app-asiento-palco>
                        </div>
                    </td>
                </ng-container>
            </tr>
        </ng-container>
    </table>
</div>
