<div class="spinner" *ngIf="spinner"><img src="../assets/spinner.gif" alt=""></div>
<div class="asientos" *ngIf="!spinner">
    <table>
        <ng-container *ngFor="let i of is; let fila = index">
            <tr>
                <td>{{labelsA[fila]}}</td>
                <ng-container *ngFor="let j of js; let columna = index">
                    <td>
                        <div *ngIf="matriz[fila][columna]">
                            <app-asiento-palco [number]="numbers[fila][columna]" [zonaSeleccionada]="zonaSeleccionada" (seleccionarAsiento)="agregarLista($event)
                            " (cerrarPopUp)="cerrarPopUp($event)" [information]="matriz[fila][columna]"></app-asiento-palco>
                        </div>
                    </td>
                </ng-container>
            </tr>
        </ng-container>
    </table>
</div>
