<div class="container">
  <mat-horizontal-stepper [linear]="true">
    <!-- Primer paso - Información personal -->
    <mat-step [stepControl]="createClientePersonal">
      <ng-template matStepLabel>Información personal</ng-template>
      <div class="error-box bg-danger text-white text-center">
        <span *ngIf="submitted && createClientePersonal.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
      </div>
      <form [formGroup]="createClientePersonal" class="form">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Nombre Tercero</mat-label>
            <input matInput formControlName="nombreTercero" placeholder="Ingresa el nombre del tercero" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Tipo identificación</mat-label>
            <input matInput formControlName="tipoId" placeholder="Ingresa el tipo de id" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput formControlName="Id" placeholder="Ingresa el id" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Dígito de Verificación</mat-label>
            <input matInput formControlName="digitoVerificacion" placeholder="Ingresa el dígito de verificación" required>
          </mat-form-field>
        </div>
      </form>
      <div class="footer">
        <div class="footer__right">
          <button mat-button matStepperNext [disabled]="createClientePersonal.invalid">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Segundo paso - Contacto -->
    <mat-step [stepControl]="createClienteContacto">
      <ng-template matStepLabel>Contacto</ng-template>
      <form [formGroup]="createClienteContacto">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion" placeholder="Ingresa la dirección" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" placeholder="Ingresa el número de teléfono" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="ciudad" placeholder="Ingresa la ciudad" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Nombre del Contacto</mat-label>
            <input matInput formControlName="nombreContacto" placeholder="Ingresa el nombre de contacto" required>
          </mat-form-field>
        </div>
      </form>
      <div class="footer">
        <div class="footer__left">
          <button mat-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="footer__right">
          <button mat-button (click)="addEditarCliente()" [disabled]="createClienteContacto.invalid">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>


</mat-horizontal-stepper>
</div>

