
<br>
<div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center mb-4">{{titulo}}</h4>
        <div class="error-box bg-danger text-white text-center">
          <span *ngIf="submitted && createCliente.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
        </div>
        <form class="mt-4" [formGroup]="createCliente" (ngSubmit)="addEditarCliente()">
          <div class="row">
            <div class="col">
              <label for="name"><strong>Nombre</strong></label>
              <input type="text" class="form-control" id="name" formControlName="nombre" placeholder="Ingresa el nombre">
            </div>
            <div class="col">
              <label for="name"><strong>Apellido</strong></label>
              <input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="Ingresa el apellido">
            </div>
          </div>
          <div class="form-group">
            <label for="email"><strong>Correo electrónico</strong></label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingresa el correo electrónico">
          </div>
          <div class="row">
            <div class="col">
              <label for="id"><strong>Id</strong></label>
              <input type="text" class="form-control" id="id" formControlName="nit" placeholder="Ingresa el id">
            </div>
            <div class="col">
              <label for="phone"><strong>Teléfono</strong></label>
              <input type="tel" class="form-control" id="phone" formControlName="telefono" placeholder="Ingresa el número de teléfono">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="cupo"><strong>Cupo</strong></label>
              <input type="text" class="form-control" id="cupo" formControlName="cupo" placeholder="Ingresa el cupo">
            </div>
            <div class="col">
              <label for="deuda"><strong>Deuda</strong></label>
              <input type="text" class="form-control" id="deuda" formControlName="deuda" placeholder="Ingresa la deuda">
            </div>
          </div>
          <div class="form-group">
            <label for="address"><strong>Dirección</strong></label>
            <input type="text" class="form-control" id="address" formControlName="direccion" placeholder="Ingresa la dirección">
          </div>
          <div class="form-group">
            <label for="city"><strong>Ciudad</strong></label>
            <input type="text" class="form-control" id="city" formControlName="ciudad" placeholder="Ingresa la ciudad">
          </div><br>
          <div class="text-center">
            <button type="submit" class="btn btn-danger">Guardar</button>
          </div>   
        </form>
      </div>
    </div>
  </div>
  