.buscador{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & mat-form-field{
        width: 80%;
    }
}
mat-table{
    background-color: transparent;
}
.qr{
    
    cursor: pointer;
    & .texto{
        color: black;
    }
    & img{
        padding: 5px;
        width: 10vw;
    }
}
::ng-deep .modal-dialog {
    max-width: fit-content !important;
}
.codigo{
    margin: 35px;
}
.mensaje{
    text-align: center;
    
}
.datatable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 9px;
  }
  .mensaje_404 {
    text-align: center;
    font-size: 24px; /* Tamaño de fuente grande */
    padding: 20px; /* Espaciado interno */
    border: 2px solid #ccc; /* Borde opcional */
    border-radius: 10px; /* Borde redondeado opcional */
    max-width: 400px; /* Ancho máximo del div */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 10px; /* Espaciado superior para centrar verticalmente */
    background-color: #f0f0f0; /* Color de fondo opcional */
}