.buscador {
  display: flex;
  justify-content: center;

  & mat-form-field {
  width: 80% !important;
    margin: 0 auto;
  }
}
.add {
  position: relative;

  & button {
    position: absolute;
    right: 74px;
    top: -68px;
    width: 30px;
    background-color: transparent;
    border: transparent;

    @media (max-width: 767px) {
      // Vista de celular
      right: 6px;

    }

    @media (min-width: 768px) and (max-width: 1023px) {
      // Vista de tablet
      right: 45px;

    }
  }
}

.datatable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 9px;
}







