<div *ngIf="!map && information">
    
  <div *ngIf="information.estado !== 'inexistente' && information.estado !== 'noSelected'" class="asiento"
    (click)="seleccionar()" [ngClass]="{'asiento': true, 'ocupado': information.estado === 'ocupado'}"
    [style.backgroundColor]="information.estado === 'ocupado'||information.estado === 'reservando' ? '#ccc' : information.hexaColor"
    [ngStyle]="{'box-shadow': information.clienteUser === user ? '0px 1px 3px 3px green' : '2px 3px 4px 0px black'}">
    <p>{{information.label}}</p>
  </div>
  <div *ngIf="information.estado === 'noSelected'" class="noSelected">
  </div>
  <div *ngIf="information.estado === 'inexistente'" class="inexistente">
  </div>

</div>