.asiento {
    background-color: white;
    box-shadow: 2px 3px 4px 0px black;
    width: 20px;
    height: 20px;
    margin: 7px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
  }
  

.inexistente {
    /*background-color: #ccc;*/

    width: 20px;
    height: 20px;
    margin: 7px;
    padding: 2px;
    text-align: center;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.ocupado {
    box-shadow: 0px 0px 0px 0px black;
    cursor: default;
}

::ng-deep .modal-backdrop {
    z-index: 1 !important;
}

::ng-deep .modal {
    z-index: 2 !important;
}

.contentModal {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

mat-form-field {
    width: 390px;
}
button{
    margin-left: 2px;
}
p{
    color: white;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: -2px;
    font-size: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
