<div class="spinner" *ngIf="spinner"><img src="../assets/spinner.gif" alt=""></div>
<div *ngIf="!spinner">
    <div *ngIf="id && evento" class="row margin">

        <div class="img"><img width="250" src="../../../assets/navidad.jpg" alt=""></div>

        <div class="col-md-9 pt-3 margin-c">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="main">
                        <mat-form-field>
                            <mat-label>Seleccione otra función</mat-label>
                            <mat-select [(ngModel)]="select" (ngModelChange)="seleccionar()">
                                <mat-option value="7OwNindMfH6a0nSTSuUh">Martes 19 de diciembre 2:30 p.m.</mat-option>
                                <mat-option value="tylIIdko13tiMeeO5OMJ">Martes 19 de diciembre 6:00 p.m.</mat-option>
                                <mat-option value="pLMts4cpze6mUPLyLlOu">Miércoles 20 de diciembre 2:30 p.m.</mat-option>
                                <mat-option value="cuPhtwK6j8GfAWfDB8xh">Miércoles 20 de diciembre 6:00 p.m.</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <h5 class="card-title">{{evento.nombre}}</h5>
                    <div class="centrar">
                        <div class="row tabla">
                            <app-grid-asientos [matriz]="matriz" [labels]="evento.labels"></app-grid-asientos>
                            <div class="centrar">
                                <button [disabled]="listaAsientos.length<1 || listaAsientos.length>3"
                                    class="btn btn-success" (click)="continuar(template)">Continuar</button>
                            </div>

                        </div>

                    </div>
                    <div class="mapaImg">
                        <img src="../../../assets/mapafinal.jpg" alt="">
                    </div>
                    <br>

                </div>

            </div>

        </div>

    </div>

    <ng-template #template>
        <div class="detalle">
            <div class="row">
                <div class="col">

                    <label for="correo">Ingresa el nombre de la persona.</label>
                    <mat-form-field>
                        <mat-label>Nombre*</mat-label>
                        <input [(ngModel)]="nombre" matInput type="text" id="correo">
                    </mat-form-field>
                </div>
                <div class="col">

                    <label for="transaccion">Ingresa el numero de la transacción</label>
                    <mat-form-field>
                        <mat-label># de transacción</mat-label>
                        <input [(ngModel)]="transaccion" matInput type="text" id="transaccion">
                    </mat-form-field>
                </div>
            </div>
            <ng-container *ngFor="let mesa of listaAsientos">
                <div class="mesa">

                    <div class="row">
                        <div class="col title">Mesa {{mesa.label}}</div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <label for="personas">Recuerda que tu mesa es de 8 personas ¿Quieres añadir personas
                                adicionales? Si es así, especifica cuántas
                                (máximo 4 personas adicionales).</label>
                            <mat-form-field>
                                <mat-label>Número de personas adicionales</mat-label>
                                <input [(ngModel)]="detalle[mesa.label]['personas']" matInput type="number" min="0"
                                    max="4" id="personas">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="ninos">Por favor, indica cuántos niños asistirán.</label>
                            <mat-form-field>
                                <mat-label>Número de niños</mat-label>
                                <input [(ngModel)]="detalle[mesa.label]['ninos']" matInput type="number" min="0"
                                    max="11" id="ninos">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <label for="adultos">Por favor, indica cuántos adultos asistirán.</label>
                            <mat-form-field>
                                <mat-label>Número de adultos</mat-label>
                                <input id="adultos" [(ngModel)]="detalle[mesa.label]['adultos']" matInput type="number"
                                    min="1" max="12">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

            </ng-container>
            <label for="codigo">Sí tienes un código promocional digitalo aquí.</label>
            <mat-form-field>
                <mat-label>Código promocional</mat-label>
                <input [(ngModel)]="codigo" matInput type="text" min="0"
                    max="4" id="codigo">
            </mat-form-field>
            <div class="row">
                <div class="col centrar"><button class="btn btn-success" (click)="pagar(wompi)">Pagar</button></div>
                <div class="col centrar"><button class="btn btn-danger" (click)="cancelar()">Cancelar</button></div>
            </div>
        </div>
    </ng-template>

    <ng-template #wompi>
        <div *ngIf="permitirCerrar" (click)="cerrarPopup({})" class="close"><mat-icon>close</mat-icon></div>
        <iframe class="wompi" [src]="link"></iframe>
    </ng-template>
</div>