<div class="margin-c">
    <div *ngIf="dataSource.data.length>0">
        <mat-form-field>
            <mat-label>Búsque su boleta</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
        <div class="mat-table">
            <div class="mat-elevation-z8 overflow-auto col-md-11 datatable">
                <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="QR">
                    <mat-header-cell *matHeaderCellDef> Código qr </mat-header-cell>
                    <mat-cell *matCellDef="let elemento">
                        <div class="qr">
                            <img (click)="openQR(elemento.id,template)" [src]="generateQRCodeBase64(elemento.id)">
                            <div class="texto">{{elemento.id}}</div>

                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Evento">
                    <mat-header-cell *matHeaderCellDef> Evento </mat-header-cell>
                    <mat-cell *matCellDef="let elemento">
                        <p style="cursor: pointer;" [routerLink]="'/evento/'+elemento.evento"> {{
                            elemento.eventoData?elemento.eventoData.nombre:'Ir al evento'
                            }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Valor">
                    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                    <mat-cell *matCellDef="let elemento"> {{
                        (elemento.transaccion.data.transaction.amount_in_cents)/100}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="asientos">
                    <mat-header-cell *matHeaderCellDef>Mesas</mat-header-cell>
                    <mat-cell *matCellDef="let elemento"> {{formatAsientos(elemento.asientos)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="zonas">
                    <mat-header-cell *matHeaderCellDef>Zonas respectivas</mat-header-cell>
                    <mat-cell *matCellDef="let elemento"> {{formatZonas(elemento.asientos)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="personas">
                    <mat-header-cell *matHeaderCellDef>Asistentes</mat-header-cell>
                    <mat-cell *matCellDef="let elemento">
                        <p [innerHTML]="iterObject(elemento.detalle)"></p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div *ngIf="dataSource.data.length===0" class="mensaje">
        usted no tiene compras aprobadas con nosotros...
    </div>
</div>

<ng-template #template>
    <div class="codigo">
        <img [src]="generateQRCodeBase64(baseSeleccionada)" alt="">
    </div>
</ng-template>