<p *ngIf="!cargando && !login" class="navbar">
    <mat-toolbar color="primary">
        <span>Eventos Unicafam-MyTicket</span>
        <span class="example-spacer"></span>
        <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;" class="logout">person_pin</mat-icon>
        <mat-menu #menu="matMenu">
          <button style="cursor: pointer;" mat-menu-item>Mis boletas</button>
          <button *ngIf="!logged" style="cursor: pointer;" (click)="redirect()" mat-menu-item>Iniciar sesión</button>
          <button *ngIf="logged" style="cursor: pointer;" (click)="logout()" mat-menu-item>Cerrar sesión</button>
        </mat-menu>
      </mat-toolbar>
</p>
<router-outlet *ngIf="!cargando"></router-outlet>
<div (click)="redirectW()" class="whatsapp"><img src="../assets/wp.png" alt=""></div>
<div *ngIf="cargando" class="spinner"><img src="../assets/spinner.gif" alt=""></div>

