<div class="spinner" *ngIf="spinner"><img src="../assets/spinner.gif" alt=""></div>
<div class="main" *ngIf="!spinner">
  <div class="close" (click)="redirect()"><mat-icon>close</mat-icon></div>
  <div class="container">
    <div class="form">
      <div class="thumbnail">
        <img src="../../../assets/login.jpg" alt="Thumbnail">
      </div>
      <form [formGroup]="formularioSignUp" class="register-form" *ngIf="iniciarSesion">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Nombre completo</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Número de teléfono/celular</mat-label>
              <input type="number" matInput formControlName="telefono">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Correo</mat-label>
              <input type="email" matInput formControlName="correo">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput formControlName="contrasena">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Confirmar contraseña</mat-label>
              <input type="password" matInput formControlName="confirmar">
            </mat-form-field>
          </div>
        </div>
        <button *ngIf="!disabled" class="submit"  (click)="registro()">Registrarse</button>
        <button *ngIf="disabled" class="disabled" >Registrarse</button>
        <p class="message">¿Ya tienes cuenta? <a (click)="switch('registrarse')" style="cursor: pointer;">Inicia
            sesión</a></p>
      </form>
      <form [formGroup]="formularioLogin" class="login-form" *ngIf="registrarse">
        <div class="row">
          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input type="email" matInput formControlName="correo">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" name="password" autocomplete="off" matInput formControlName="contrasena">
          </mat-form-field>
        </div>
        <button class="submit" (click)="iniciar()">Iniciar Sesión</button>
        <p class="message">¿No te has registrado? <a (click)="switch('iniciarSesion')" style="cursor: pointer;">Create
            una cuenta</a></p>
      </form>
    </div>
  </div>
</div>