<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
      <img src="assets/images/imageLogin.jpg" alt="Logo de la empresa" class="img-fluid mb-4 rounded">
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="assets/images/logo.jpg" alt="Logo de la empresa" class="rounded-circle" style="width: 100px; height: 100px;">
          </div>
          <form>
            <div class="form-group">
              <label for="correo"><strong>Correo:</strong></label>
              <input [(ngModel)]="correo" name="correo" id="correo" class="form-control" type="text" placeholder="Ingresa tu correo electrónico">
            </div><br>
            <div class="form-group">
              <label for="contrasena"><strong>Contraseña:</strong></label>
              <input [(ngModel)]="contrasena" name="contrasena" id="contrasena" class="form-control" type="password" placeholder="Ingresa tu contraseña">
            </div><br>
            <div class="text-center"> <!-- Agrega la clase "text-center" para centrar el botón -->
              <button (click)="iniciar()" class="btn btn-danger">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
