<div class="container">

    <br>
    <div class="button-container container">
        <div class="row">
            <button mat-button class="col" (click)="openPopup(productos)">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <button mat-button class="col" (click)="openPopup(clientes)">
                <mat-icon>person_add</mat-icon>
            </button>
        </div>

    </div>
    <br>
    <div class="cliente-nombre">
        <p>Cliente:<span *ngIf="cliente"> {{ cliente.nombreTercero }}</span></p>
    </div>
    

    <div class="mat-elevation-z8 overflow-auto col-md-11 datatable" #factura>
        <div class="buscador">
            <mat-form-field appearance="outline">
                <mat-label>Escriba su búsqueda</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="precioVenta">
                <th mat-header-cell *matHeaderCellDef> Precio de Venta </th>
                <td mat-cell *matCellDef="let element">
                    <span
                        *ngIf="element.producto.precioVenta1!==0">{{(element.producto.precioVenta1).toLocaleString('en-US',
                        {
                        style:
                        'currency', currency: 'USD' })}}</span>
                    <span
                        *ngIf="element.producto.precioVenta1===0">{{(element.producto.precioFacturado).toLocaleString('en-US',
                        {
                        style:
                        'currency', currency: 'USD' })}}</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad.toLocaleString('en-US')}}</td>
            </ng-container>

            <ng-container matColumnDef="descuento">
                <th mat-header-cell *matHeaderCellDef> Descuento </th>
                <td mat-cell *matCellDef="let element"> {{element.descuento}}%</td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Precio total </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.producto.precioVenta1!==0">
                        {{
                        (((element.producto.precioVenta1) * (1 - (element.descuento / 100)))
                        * element.cantidad)
                        .toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}
                    </span>
                    <span *ngIf="element.producto.precioVenta1===0">
                        {{
                        (((element.producto.precioFacturado) * (1 - (element.descuento / 100)))
                        * element.cantidad)
                        .toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        <div class="button-container">
            <button mat-button class="center-button" (click)="facturaS.exportPDF(dataSource.data,cliente!)">
                <mat-icon>receipt</mat-icon>
            </button>
        </div>
    </div>


</div>
<ng-template #productos>
    <app-productos-lista (myEvent)="handleProducto($event)" [showconfig]="'venta'"></app-productos-lista>
</ng-template>
<ng-template #clientes>
    <app-clientes-lista (myEvent)="handleCliente($event)" [showconfig]="'venta'"></app-clientes-lista>
</ng-template>