<div class="container">

    <br>
    <div class="button-container">
        <button mat-button class="center-button" (click)="openPopup(productos)">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
    <br>
    <div class="buscador">
        <mat-form-field appearance="outline">
            <mat-label>Escriba su búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </div>
    
    <div class="mat-elevation-z8 overflow-auto col-md-11 datatable" #factura>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="precioVenta">
                <th mat-header-cell *matHeaderCellDef> Precio de Venta </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.precioVenta}} </td>
            </ng-container>


            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}}</td>
            </ng-container>

            <ng-container matColumnDef="descuento">
                <th mat-header-cell *matHeaderCellDef> Descuento </th>
                <td mat-cell *matCellDef="let element"> {{element.descuento}}%</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <br>
    <div class="button-container">
        <button mat-button class="center-button" (click)="exportPDF()">
            <mat-icon>receipt</mat-icon>
        </button>
    </div>
</div>
<ng-template #productos>
    <app-productos-lista (myEvent)="handleEvent($event)" [showconfig]="'venta'"></app-productos-lista>
</ng-template>
