.buscador {
    display: flex;
    justify-content: center;

    & mat-form-field {
        width: 80% !important;
        margin: 0 auto;
    }
}

.datatable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 9px;
}
.container{
    & .button-container {
        & mat-icon{
            font-size: 40px;
            width: 40px;
            height: 40px;
        }
      }
}
.cliente-nombre {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    width: 90%;
}
