<div class="row margin">
    <div class="img"><img width="250" src="../../../assets/navidad.jpg" alt=""></div>
    <div class="col-md-8 pt-3 margin-c">
        <div class="card mx-auto">
            <div class="description">
                <h3>Navidad Mágica</h3>
                <p>Un show mágico en un ambiente increíble inspirado en la época más especial del año!!! Minnie, Mickey, Daisy, Donald y Papá Noel, Mamá Noel y el Grinch, nos mostrarán el mundo de la fantasía, la alegría, el color, la magia, y lo más importante el amor a la familia en esta bonita época.</p>
            
                <p>El plan dura 2 horas e incluye lo siguiente:</p>
                <ul>
                    <li>Experiencia visual con 9 personajes en vivo, pantalla gigante, luces, efectos especiales y decoración temática navideña.</li>
                    <li>Recreación infantil en tarima.</li>
                    <li>Platos fuertes y bebidas para todos.</li>
                    <li>Servicio a la mesa.</li>
                </ul>
            
                <p>De menú tendremos:</p>
                <ul>
                    <li>Para los adultos hamburguesa Grattia de pollo con papas a la francesa y salsa de la casa.</li>
                    <li>Para los niños Nuggets de pollo con papitas a la francesa.</li>
                    <li>Puedes seleccionar una bebida entre gaseosas Postobón, agua en botella o jugo HIT.</li>
                </ul>
            
                <p>Puedes reservar una mesa de mínimo 8 personas y con costo adicional hasta 12 personas (adultos + niños).</p>
            
                <p>Las mesas tipo A son primera fila y tendrán un precio especial.</p>
                <p>Las mesas tipo B están en la segunda fila.</p>
                <p>Las mesas tipo C podrán ser fraccionadas y comprar tus entradas individuales sin necesidad de comprar la mesa completa, este servicio se hará únicamente por nuestra línea de WhatsApp 👉🏼+57 317 4236294</p>
            
                <p>¡Habrá un concurso en donde premiaremos a la mesa más animada y creativa! Los invitamos a vestirse de navidad y disfrutar en grande.</p>
            
                <p>Tendremos servicio de fotografía profesional (con costo adicional) para que te lleves el mejor recuerdo junto con los personajes del show.</p>
            
                <p>Instrucciones de compra:</p>
                <ol>
                    <li>Seleccione el día y horario de su función.</li>
                    <li>Seleccione en el mapa su mesa y defina el número de adultos, niños y personas adicionales si lo desea. Recuerde que la mesa es para un mínimo de 8 personas y un máximo de 12 personas.</li>
                    <li>Registre sus datos.</li>
                    <li>Realice su compra.</li>
                    <li>Si presenta algún inconveniente, por favor escriba a nuestra línea de ayuda.</li>
                </ol>
            
                <p>Términos y condiciones:</p>
                <ul>
                    <li>Solo se realizarán devoluciones de dinero si el evento no se realiza.</li>
                    <li>La no asistencia al evento no obliga al organizador a devolver dinero alguno.</li>
                    <li>Los niños menores de 1 año no pagan su ingreso al evento.</li>
                </ul>
            </div>
            


            <mat-form-field>
                <mat-label>Seleccione la función</mat-label>
                <mat-select [(ngModel)]="select" (ngModelChange)="seleccionar()">
                    <mat-option value="7OwNindMfH6a0nSTSuUh">Martes 19 de diciembre 2:30 p.m.</mat-option>
                    <mat-option value="tylIIdko13tiMeeO5OMJ">Martes 19 de diciembre 6:00 p.m.</mat-option>
                    <mat-option value="pLMts4cpze6mUPLyLlOu">Miércoles 20 de diciembre 2:30 p.m.</mat-option>
                    <mat-option value="cuPhtwK6j8GfAWfDB8xh">Miércoles 20 de diciembre 6:00 p.m.</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row centrar">
                <div class="col-md-6">
                    <div class="palco">
                        <h2>Mesas A</h2>
                        <p class="price">Valor: $790.000 (Personas por mesa: 8)</p>
                        <p class="additional">Persona adicional $ 100.000 – máximo 12 personas por Mesa</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="palco">
                        <h2>Mesas B</h2>
                        <p class="price">Valor: $590.000 (Personas por mesa: 8)</p>
                        <p class="additional">Persona adicional $ 80.000 – máximo 12 personas por Mesa</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="palco">
                        <h2>Mesas c</h2>
                        <p class="price">Valor: $520.000 (Personas por mesa: 8)</p>
                        <p class="additional">Persona adicional $ 75.000 – máximo 12 personas por Mesa</p>
                        <p class="additional">Persona individual $ 80.000</p>
                    </div>
                </div>



            </div>


            <div class="mapaImg">
                <img src="../../../assets/mapafinal.jpg" alt="">
            </div>

        </div>
    </div>
</div>