<div class="row margin">
    <div class="img"><img width="250" src="../../../assets/halloween.jpg" alt=""></div>
    <div class="col-md-8 pt-3 margin-c">
        <div class="card mx-auto">
            <div class="description">
                <h3>HALLOWEEN ENCANTADO</h3>
                <p>Un show mágico en un ambiente mágico inspirado en el mundo de Coco en donde Minnie, Mickey, Daisy y
                    Donald acompañados de Miguel, La Abuela, Tía Imelda, Hernesto de la Cruz y Hector nos mostrarán el
                    mundo
                    de la fantasía, la alegría, el color, la magia, y lo más importante el amor a la familia y por
                    quienes
                    ya no están.</p>

                <p>Puedes reservar una mesa de mínimo 8 personas y hasta 12 personas (adultos + niños). El plan dura 2
                    horas
                    e incluye lo siguiente:</p>
                <ul>
                    <li>Experiencia visual con 9 personajes en vivo, pantalla gigante, luces, efectos especiales y
                        decoración temática mexicana.</li>
                    <li>Recreación infantil.</li>
                    <li>Platos fuertes y bebidas para todos.</li>
                    <li>Dulces de halloween para los niños.</li>
                    <li>Servicio a la mesa.</li>
                </ul>

                <p>El menú, al igual que Coco, estará inspirado en la cultura mexicana:</p>
                <ul>
                    <li>Para los adultos burrito de carne con nachos acompañado de guacamole, sour cream y picante de la
                        casa.</li>
                    <li>Para los niños es quesadilla acompañando de guacamole y sour cream.</li>
                    <li>Puedes seleccionar una bebida entre gaseosas Postobón, agua en botella o jugo HIT.</li>
                </ul>

                <p>Las mesas tipo A son primera fila y tendrán un precio especial. Las mesas tipo B tienen todas el
                    mismo
                    valor.</p>

                <p>Habrá un concurso en donde premiaremos a la mesa mejor disfrazada y el mejor disfraz de niño.</p>

                <p>Tendremos servicio de fotografía profesional (con costo adicional) para que te lleves el mejor
                    recuerdo
                    junto con los personajes del show.</p>
            </div>
            <p class="instructions">
                <strong>Instrucciones de compra:</strong>
            </p>
            <ol class="instructions-list">
                <li>Seleccione el día y horario de su función.</li>
                <li>Seleccione en el mapa su mesa y defina el número de adultos, niños y personas adicionales si lo
                    desea. Recuerde que la mesa es para un mínimo de 8 personas y un máximo de 12 personas.</li>
                <li>Registre sus datos.</li>
                <li>Realice su compra.</li>
                <li>Si presenta algún inconveniente, por favor escriba a nuestra línea de ayuda.</li>
            </ol>

            <p class="terms">
                <strong>Términos y condiciones:</strong>
            </p>
            <ol class="terms-list">
                <li>No se realizan cambios en las funciones ni en los horarios del evento.</li>
                <li>Solo se realizarán devoluciones de dinero si el evento no se realiza.</li>
                <li>La no asistencia al evento no obliga al organizador a devolver dinero alguno.</li>
                <li>Los niños menores de 1 año no pagan su ingreso al evento.</li>
            </ol>


            <mat-form-field>
                <mat-label>Seleccione la función</mat-label>
                <mat-select [(ngModel)]="select" (ngModelChange)="seleccionar()">
                    <mat-option value="QpMYCzedq9Qc6AeoQxNE">Sábado 28 de octubre 10:00 a.m.</mat-option>
                    <mat-option value="nfJxrK37OMGO1rPK1lNZ">Sábado 28 de octubre 1:00 p.m.</mat-option>
                    <mat-option value="Mu5vLrRQqVJ8Su9wjpHW">Sábado 28 de octubre 5:00 p.m.</mat-option>
                    <mat-option value="JDuMtLKSsYgztLObrO5O">Domingo 29 de octubre 10:00 a.m.</mat-option>
                    <mat-option value="sszSXyy3wwdD8VwGeGJo">Domingo 29 de octubre 1:00 p.m.</mat-option>
                    <mat-option value="95PLZvtyRu7ChnG6zYbt">Domingo 29 de octubre 5:00 p.m.</mat-option>
                    <mat-option value="8ZJaBxE9ygOce74X5p97">lunes 30 de octubre 2:30 p.m.</mat-option>
                    <mat-option value="0LxjQA2kyLkSYwOgbveH">lunes 30 de octubre 5:00 p.m.</mat-option>
                    <mat-option value="g3aSGZc1axtWxinRi2kv">Martes 31 de octubre 2:30 p.m.</mat-option>
                    <mat-option value="saJdcZ0wGUxUBRIN5sEa">Martes 31 de octubre 5:00 p.m.</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row">
                <div class="col-md-6">
                    <div class="palco">
                        <h2>Mesas A</h2>
                        <p class="price">Valor: $720.000</p>
                        <p class="additional">Persona adicional: $90.000</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="palco">
                        <h2>Mesas B</h2>
                        <p class="price">Valor: $590.000</p>
                        <p class="additional">Persona adicional: $75.000</p>
                    </div>
                </div>



            </div>


            <div class="mapaImg">
                <img src="../../../assets/mapafinal.png" alt="">
            </div>

        </div>
    </div>
</div>