<br>
<div class="container">
  <mat-horizontal-stepper [linear]="true">
    <!-- Primer paso - Características -->
    <mat-step [stepControl]="createProveedorForm">
      <ng-template matStepLabel>Características</ng-template>
      <div class="error-box bg-danger text-white text-center">
        <span *ngIf="submitted && createProveedorForm.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
      </div>
      <form [formGroup]="createProveedorForm" class="form">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo" placeholder="Ingresa el código" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Ingresa el nombre" required>
          </mat-form-field>
        </div>
      </form>
      <form [formGroup]="createProveedorForm">
        <!-- Aquí puedes agregar campos relacionados con las fechas si es necesario -->
      </form>
      <div class="footer">
        
        <div class="footer__right">
          <button mat-button (click)="addEditarProveedor()" [disabled]="createProveedorForm.invalid">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
